@import url('https://fonts.googleapis.com/css?family=Muli:300,400,400i,700,800,900&display=swap');

@font-face {
    font-family: 'Painted';
    src: url('Painted.ttf');
    src: url('painted-webfont.eot?#iefix') format('embedded-opentype'),
         url('painted-webfont.woff') format('woff'),
         url('painted-webfont.svg#paintedregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

body {
    font-family: 'Muli', sans-serif;
    margin: 0;
    background-color: white;
}

h1 {
    color: #CCB78C;
    font-family: 'Painted', sans-serif;
    font-size:6vw;
    padding-top: 6vw;
}

h2 {
    margin-top: -1vw;
    font-size: 1.1vw;
    color: #CCB78C;
}

h3 {
    color: #BF5258;
    font-family: 'Muli', sans-serif;
    font-weight: 900;
    font-size: 2.8vw;
    letter-spacing: 0.2vw;
    padding-top: 1vw;
    padding-bottom: 1.5vw;
}

h4 {
    font-family: 'Muli', sans-serif;
    font-weight: 800;
    font-size: 1.7vw;
    letter-spacing: 0.3vw;
    padding-bottom: 1.5vw;
}

.blurb {
    font-weight: 300;
    font-size: 1.1vw;
    letter-spacing: 0.1vw;
}

#header {
    
    background-image: url(header_2.jpg);
    background-size: 100%;
    height: 23vw;
    text-align: center;
}

#nav, #footer {
    height: 4vw;
    text-align: center;
    padding-top: 1vw;
}

#footer {
    background-color: #CCB78C;
}

#nav a {
    font-weight: 700;
    color: black;
    text-transform: uppercase;
}

#nav .active {
    font-weight: 900;
}

#home {
    height: 60vw;
    padding-left: 15%;
}

#form {
    height: 20vw;
    padding-left: 25%;
    padding-top: 2%;
    
}

.formdesc {
    line-height: 2vw;
    font-weight: 500;
    font-size: 1.1vw;
}

.amazonembed {
    padding-top:2%;
}

#books {
    height: 80vw;
    padding-left: 15%;
}

.ku {
    font-weight:700;
    font-size: 1.3vw;
    letter-spacing: 0.05vw;
}

.ku img {
    margin-top: -0.5vw;
}

#bio {
    height: 21vw;
    padding-left: 33%;
    padding-top: 2%;
    text-align: justify;
    vertical-align: middle;
    line-height: 2vw;
    font-weight: 300;
    font-size: 1.1vw;
    letter-spacing: 0.1vw;
}

#content .col, #books .col {
    text-align: left;
    vertical-align: middle;
    line-height: 2vw;
}

#content .row {
    max-height: 45vw;
}

#books h4 {
    padding-top: 3vw;
}

.col {
    max-height: 45vw;
}

.col img, .col-12 img, .col-6 img {
    max-height: 38vw;
}

@media (max-width: 991.98px) { 
    
    #nav {
        margin-bottom: 3vw;
        font-size: 3.3vw;
    }
    
     .col img, .col-12 img, .col-6 img {
    max-height: 50vw;
    padding-left: 25%;
    padding-right: auto;
         
    }
    
    #content .row {
        
        padding-right: 20%;
        padding-left: auto;
    }
    
    .blurb {
    font-size: 2.5vw;
}
    
    h2 {
    margin-top: -4vw;
    font-size: 2.8vw;
    letter-spacing: 0.2vw;
}
    
    h1 {
    font-size:14vw;
    padding-top: 0vw;
    letter-spacing: 1.5vw;
}
    
    h3 {
        font-size: 4vw;
        padding-bottom: 0vw;
    }
    
    h4 {
        font-size: 3vw;
    }
    
    #header {
        background-size: 180%;
    }
    
    #home, #books {
    height: 300vw;
    }
    
    #content .row {
    max-height: 160vw;
}
    
    #form {
    height: 80vw;
}
    
}
